<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Car Main Page{% endblock %}</title>
</head>
<body>
    <div>
        {% block content %}
            <h1>Car list: {{ user }}</h1>
            {% for car in page_obj %}
                <br>
                <h1><a href="{% url 'detail_view' car.id %}">{{ car.manufacturer.name }} {{ car.car_model }}</a></h1>
                <h2>Engine: {{ car.engine_model }}</h2>
                <img src="{{ car.car_image.url }}" alt="{{ car.manufacturer.name }} {{ car.car_model }}">
                <br>
            {% endfor %}
        {% endblock %}
    </div>
    <div class="paginator">
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}
        <span>{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </div>
</body>
</html>