<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h1>{{ greeting }}</h1>
    {% for i in object_list %}
        <h1>{{ i.title }}</h1>
        <h1>{{ i.text }}</h1>
    {% endfor %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
    </form>
</body>
</html>