<!doctype html>
{% extends 'main/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>{{ book.author.name }}</h1>
    <h2>{{ book.title }}</h2>
    <h3>{{ book.text }}</h3>
    <br>
    <p><a href="{% url 'book_update' pk=book.id %}">Update Button</a></p>

    </form>
    <form method="get">
        <button type="submit" name="clicked" value="1">Нажать</button>
    </form>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="submit">Submit</button>
    </form>
{% endblock %}
</body>
</html>